{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Test microservices</h1>
                <hr>

                <a class="btn btn-outline-secondary" id="brokerBtn" href="javascript:void(0);">Test Broker</a>
                <a class="btn btn-outline-secondary" id="authBtn" href="javascript:void(0);">Test Auth</a>
                <a class="btn btn-outline-secondary" id="logBtn" href="javascript:void(0);">Test Log</a>
                <a class="btn btn-outline-secondary" id="mailBtn" href="javascript:void(0);">Test Mail</a>

                <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    <span class="text-muted">Output shows here...</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="payload"><span class="text-muted">Nothing sent yet...</span></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Received</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        const brokerBtn = document.getElementById("brokerBtn");
        const mailBtn = document.getElementById("mailBtn");
        const logBtn = document.getElementById("logBtn");
        const authBtn = document.getElementById("authBtn");

        const output = document.getElementById("output");
        const received = document.getElementById("received");
        const sent = document.getElementById("payload");

        mailBtn.addEventListener("click", function() {
             const payload =  {action:"mail", mail: {from:"shoebilyas123@gmail.com",to:"you@there.com", subject:"Testing", message:"Hello there"}};

            const headers = new Headers();
            headers.append("Content-Type","application/json");
        
            const body  = {
                method: "POST",
                body: JSON.stringify(payload),
                headers,
            }

            fetch("http:\/\/localhost:8080/handle", body)
            .then(response=>response.json())
            .then(data=>{
                sent.innerHTML = JSON.stringify(payload, undefined, 4);

                received.innerHTML = JSON.stringify(data);
                if(data.error) {
                    output.innerHTML += `<br><strong>Error: </strong> ${data.message}`;

                }
                else {
                    output.innerHTML += `<br><strong>Response from the logger:</strong> ${data.message}`;
                }
            })
            .catch(err=>{
            console.log(err);
                output.innerHTML += `<br><br>Error: ${err}`;
            })
        })


        logBtn.addEventListener("click", function() {
             const payload =  {action:"log", log: {name:"event",data:"just some log"}}; 
            const headers = new Headers();
            headers.append("Content-Type","application/json");
        
            const body  = {
                method: "POST",
                body: JSON.stringify(payload),
                headers,
            }
            console.log(body);

            fetch("http:\/\/localhost:8080/handle", body)
            .then(response=>response.json())
            .then(data=>{
                sent.innerHTML = JSON.stringify(payload, undefined, 4);

                received.innerHTML = JSON.stringify(data);
                if(data.error) {
                    output.innerHTML += `<br><strong>Error: </strong> ${data.message}`;

                }
                else {
                    output.innerHTML += `<br><strong>Response from the logger:</strong> ${data.message}`;
                }
            })
            .catch(err=>{
            console.log(err);
                output.innerHTML += `<br><br>Error: ${err}`;
            })
        })

        authBtn.addEventListener("click", function(){
            const payload =  {action:"auth", auth: {email:"admin@example.com",password:"verysecret"}}; 
            const headers = new Headers();
            headers.append("Content-Type","application/json");
        
            const body  = {
                method: "POST",
                body: JSON.stringify(payload),
                headers,
            }
            console.log(body);

            fetch("http:\/\/localhost:8080/handle", body)
            .then(response=>response.json())
            .then(data=>{
                sent.innerHTML = JSON.stringify(payload, undefined, 4);

                received.innerHTML = JSON.stringify(data);
                if(data.error) {
                    output.innerHTML += `<br><strong>Error: </strong> ${data.message}`;

                }
                else {
                    output.innerHTML += `<br><strong>Response from the broker:</strong> ${data.message}`;
                }
            })
            .catch(err=>{
            console.log(err);
                output.innerHTML += `<br><br>Error: ${err}`;
            })
        })

        brokerBtn.addEventListener("click", function() {
            const body  = {
                method: "POST",
            }

            fetch("http:\/\/localhost:8080", body)
            .then(response=>response.json())
            .then(data=>{
            console.log(data);
                sent.innerHTML = "empty body sent";
                received.innerHTML = JSON.stringify(data);
                if(data.error) {
                    console.log(data.error);
                }
                else {
                    output.innerHTML = `<br><strong>Response from the broker:</strong> ${data.message}`;
                }
            })
            .catch(err=>{
                output.innerHTML = `<br><br>Error: ${err}`;
            })
        })

    </script>
{{end}}
